body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
}

header {
    background-color: aqua;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

header img {
    max-width: 100%;
    border-radius: 200px;
    border: 20px solid #fff;
}

header h1 {
    font-size: 50px;
    color: aliceblue;
    font-family: "Pacifico", cursive;
}

h1, h2 {
    font-family: "Pacifico", cursive;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Nanum Pen Script", cursive
}

main img {
    max-width: 100%;
}

h2 {
    font-size: 30px;
    color: aqua;
    margin: 40px 0 10px;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: skyblue;
}

footer {
    background-color: aqua;
    text-align: center;
    color: white;
    padding: 50px;
    font-family: "Nanum Gothic Coding", monospace;
}

footer a {
    color: white;
}

footer p {
    margin: 0px;
}

footer a:hover {
    opacity: 0.5; 
    /* 투명도 설정 */
    background-color: transparent;
    /* 투명하게 설정 */
}

p.caption {
    color: chocolate;
    font-style: italic;
    margin-top: 0;
}